<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>

  <ion-card>
    <ion-slides *ngIf="featuredProducts.length > 0" loop="true" autoplay="3000" pager>
      <ion-slide *ngFor="let product of featuredProducts">
        <img [src]="product.images[0].src">
      </ion-slide>
    </ion-slides>
  </ion-card>

  <hr>

  <ion-card>
    <ion-slides *ngIf="foneProducts.length > 0" loop="true" autoplay="3000" pager>
        <ion-slide *ngFor="let product of foneProducts">
          <img [src]="product.images[0].src">
          <ion-card-content>
            <ion-card-title>
              {{ product.name }}
            </ion-card-title>
            <p>{{ (product.description.length > 150 )? (product.description | striphtml | slice:0:150)+'...':(product.description) }}</p>
          </ion-card-content>
        </ion-slide>
    </ion-slides>
  </ion-card>

  <hr>
  <product-list [products]="allProducts"></product-list>
</ion-content>
